<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Despre</title>
		<%- include("../fragmente/head") %>
        
		<link rel="stylesheet" type="text/css" href="/resurse/css/contact.css" />
	</head>
	<body class="container">
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
		
			<section id="despre">
				<h2>Despre cofetărie</h2>
                <p>Mno, sincer nu prea știm ce text să băgăm aici așa că poftim un Lorem Ipsum:</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a massa convallis, viverra mi vitae, bibendum est. In hac habitasse platea dictumst. Mauris eget venenatis nibh. In maximus dolor quis laoreet ultricies. Aliquam quis mi nisl. In lacinia consectetur quam, sed efficitur eros molestie fringilla. Sed in volutpat orci. Proin leo diam, consequat congue aliquam ac, semper non dui. Sed elementum quis ligula quis eleifend. Nullam eu erat in diam pulvinar maximus. Proin at velit eget nibh hendrerit vestibulum. Aliquam non risus ut ligula sodales fermentum eu vitae purus. In at urna porttitor, vestibulum dolor eget, blandit nisl. Integer et lorem lacinia, hendrerit magna sed, feugiat nisi. Praesent tempus imperdiet mi eu lobortis. Suspendisse tortor lacus, luctus vitae purus a, rutrum euismod justo.</p>
			</section>
			<section id="istoric">
				<h2>Istoric</h2>
                <p>A fost o dată o cofetărie care făcea prăjituri bune, pateuri divine și înghețată ca-n povești....</p>
                <p> Apoi am venit noi și i-am alungat de pe aceste meleaguri. </p>
                <p>Pare rău!</p>
			</section>
		</main>
		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>