<footer>
    <a href="#" title="mergi sus" id="link-top"><div id="triunghi"></div></a>
    <p id="banner">Acesta este un proiect scolar. <span id="mesaj-cookies">Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></span></p>

    <address>
        Strada prajiturilor, nr. 10, București, sector 1, România
        <%- locals.vede %>
    </address>
</footer>